<div class="container grid grid-cols-1 md:grid-cols-2 gap-8 p-4">
    {%- for i in (1..4) -%}
        {%- capture heading -%}q{{ i }}_heading{%- endcapture -%}
        {%- capture blockQuadrant -%}q{{ i }}{%- endcapture -%}

        {%- if section.settings[heading] != blank -%}
            <div class="flex flex-col shadow-lg p-8 md:p-16">
                <div class="text-center pb-8">
                    <strong class="font-heading text-xl font-medium">{{ section.settings[heading] }}</strong>
                </div>
                <content-accordion class="container relative border-t border-current w-full h-100">
                    {% for block in section.blocks %}   
                        {% if block.settings.quadrant == blockQuadrant %}
                            <div class="flex flex-col border-b border-current items-center font-sans">
                                {% if block.settings.heading != blank %}
                                    <button data-toggle="{{ block.id }}" class="flex items-center justify-between text-left p-8 w-full font-semibold font-sans py-6">
                                        <span class="block w-4/5">{{ block.settings.heading }}</span>
                                        <div data-icon class="relative w-6 h-6">
                                            <span class="bg-black absolute w-full h-0.5 top-1/2 transition duration-500 transform -translate-y-1/2 rotate-90"></span>
                                            <span class="bg-black absolute w-full h-0.5 top-1/2 transition duration-500 transform -translate-y-1/2"></span>
                                        </div>
                                    </button>
                                {% endif %}
                                {% if block.settings.content != blank %}
                                    <div style="height: 0px; transition: 0.5s;" class="overflow-hidden font-light text-left items-center w-full" data-content="{{ block.id }}">
                                        <div class="p-8 pt-0 text-left font-sans rte">
                                            {{ block.settings.content }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </content-accordion>
            </div>
        {%- endif -%}
    {%- endfor -%}
</div>

{% schema %}
    {
        "name": "Accordion Quadrants",
        "tag": "section",
        "settings": [
            {
                "type": "text", 
                "id": "q1_heading",
                "label": "Quadrant 1 - Heading"
            },
            {
                "type": "text", 
                "id": "q2_heading",
                "label": "Quadrant 2 - Heading"
            },
            {
                "type": "text", 
                "id": "q3_heading",
                "label": "Quadrant 3 - Heading"
            },
            {
                "type": "text", 
                "id": "q4_heading",
                "label": "Quadrant 4 - Heading"
            }
        ],
        "blocks": [
            {
                "name": "Heading & Content",
                "type": "heading_content",
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading"
                    },
                    {
                        "type": "richtext",
                        "id": "content",
                        "label": "Content"
                    },
                    {
                        "type": "select",
                        "id": "quadrant",
                        "label": "Quadrant",
                        "options": [
                            {
                                "label": "Quadrant 1",
                                "value": "q1"
                            },
                            {
                                "label": "Quadrant 2",
                                "value": "q2"
                            },
                            {
                                "label": "Quadrant 3",
                                "value": "q3"
                            },
                            {
                                "label": "Quadrant 4",
                                "value": "q4"
                            }
                        ]
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Accordion Quadrants"
            }
        ]
    }
{% endschema %}