<div class="{% unless section.settings.full_width %}container{% endunless %} overflow-hidden {{ section.settings.mobile_vertical_padding }} {{ section.settings.mobile_horizontal_padding }} {{ section.settings.desktop_vertical_padding }} {{ section.settings.desktop_horizontal_padding }} {{section.settings.section_class}}">
  <div class="flex flex-col">
    {% render 'section-copy' %}
  </div>
  <div class="grid {{ section.settings.grid_gap }} {{ section.settings.grid_columns }} {{ section.settings.grid_columns_dt }}">
    {% for block in section.blocks %}
      {% liquid
        assign collection = block.settings.collection
        assign image = collection.featured_image
        assign url = collection.url
        assign heading = collection.title

        if block.settings.image != blank
            assign image = block.settings.image
        endif
        if block.settings.heading != blank
            assign heading = block.settings.heading
        endif
        if block.settings.url != blank
            assign url = block.settings.url
        endif
      %}
      {% if image != blank %}
        <div id="block-{{ block.id }}" class="overflow-hidden group w-full pt-full h-0 relative">
          <div
            style="background-image: url({{ image | image_url }}); color: {{ block.settings.text_color }};"
            class="absolute top-0 left-0 p-8 flex flex-col justify-end bg-center bg-no-repeat bg-cover h-full w-full transform scale-100 group-hover:scale-105 transition-base">
            {% if block.settings.tagline != blank %}
              <div class="{{ section.settings.tile_tagline_font_family }} {{ block.settings.text_alignment }} {{ section.settings.tagline_font_size_mobile }} {{ section.settings.tagline_font_size_desktop }}">
                {{ block.settings.tagline }}
              </div>
            {% endif %}
            {% if heading != blank %}
              <div class="{{ section.settings.tile_heading_font_family }} {{ block.settings.text_alignment }} {{ section.settings.heading_font_size_mobile }} {{ section.settings.heading_font_size_desktop }}">
                {{ heading }}
              </div>
            {% endif %}
            {% if url != blank and block.settings.cta_label != blank %}
              <div
                data-animated-button
                class="button wrap flex items-center mt-4 overflow-hidden md:opacity-0 md:h-0"
              >
                <a class="btn-{{ block.id }} block font-bold px-2 w-full py-5 rounded text-center uppercase transition-short {{ section.settings.mobile_button_font_size }} {{ section.settings.desktop_button_font_size }}" href="{{ url }}">{{ block.settings.cta_label }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% style %}
        .btn-{{ block.id }} {
          background: {{ block.settings.button_bg_color }};
          color: {{ block.settings.button_text_color }}
        }
        .btn-{{ block.id }}:hover {
          background: {{ block.settings.button_bg_color_hover }};
          color: {{ block.settings.button_text_color_hover }}
        }
      {% endstyle %}
    {% endfor %}
  </div>
</div>

<script>
    (() => {
      window.addEventListener('load', () => {
        const buttons = document.querySelectorAll('[data-animated-button]');
        buttons.forEach((btn) => {
          btn.parentElement.addEventListener('mouseenter', () => {
            if(window.innerWidth > 992) {
              btn.style.transition = "height 0.5s ease, opacity 0.5s ease 0.5s";
              btn.style.height = "6rem";
              btn.style.opacity = "1";
            }
          });
          btn.parentElement.addEventListener('mouseleave', () => {
            if(window.innerWidth > 992) {
              btn.style.transition = "height 0.5s ease 0.25s, opacity 0.25s ease";
              btn.style.height = "0";
              btn.style.opacity = "0";
            }
          });
        })
      })

      window.addEventListener('resize', () => {
        const buttons = document.querySelectorAll('[data-animated-button]');
        buttons.forEach((btn) => {
          btn.parentElement.addEventListener('mouseleave', () => {
            if(window.innerWidth > 992) {
              btn.style.transition = "height 0.5s ease 0.25s, opacity 0.25s ease";
              btn.style.height = "0";
              btn.style.opacity = "0";
            }
          });
        })
      })
    }) ();
</script>

{% schema %}
{
  "name": "Featured Collections",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section Layout"
    },
    {
      "type": "text",
      "id": "section_class",
      "label": "Section Class"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Fullwidth",
      "default": false
    },
    {
      "type": "select",
      "id": "grid_gap",
      "label": "Space Between Tiles",
      "default": "gap-4",
      "options": [
        {
          "value": "gap-0",
          "label": "None"
        },
        {
          "value": "gap-1",
          "label": "0.25rem"
        },
        {
          "value": "gap-2",
          "label": "0.5rem"
        },
        {
          "value": "gap-3",
          "label": "0.75rem"
        },
        {
          "value": "gap-4",
          "label": "1rem"
        },
        {
          "value": "gap-5",
          "label": "1.25rem"
        },
        {
          "value": "gap-6",
          "label": "1.5rem"
        },
        {
          "value": "gap-7",
          "label": "1.75rem"
        },
        {
          "value": "gap-8",
          "label": "2rem"
        },
        {
          "value": "gap-9",
          "label": "2.25rem"
        },
        {
          "value": "gap-10",
          "label": "2.5rem"
        }
      ]
    },
    {
      "type": "select",
      "id": "grid_columns",
      "label": "Items Per Row - Mobile",
      "default": "grid-cols-2",
      "options": [
        {
          "value": "grid-cols-1",
          "label": "One per row"
        },
        {
          "value": "grid-cols-2",
          "label": "Two per row"
        },
        {
          "value": "grid-cols-3",
          "label": "Three per row"
        }
      ]
    },
    {
      "type": "select",
      "id": "grid_columns_dt",
      "label": "Items Per Row - Desktop",
      "default": "md:grid-cols-2",
      "options": [
        {
          "value": "md:grid-cols-1",
          "label": "One per row"
        },
        {
          "value": "md:grid-cols-2",
          "label": "Two per row"
        },
        {
          "value": "md:grid-cols-3",
          "label": "Three per row"
        },
        {
          "value": "md:grid-cols-4",
          "label": "Four per row"
        },
        {
          "value": "md:grid-cols-5",
          "label": "Five per row"
        },
        {
          "value": "md:grid-cols-6",
          "label": "Six per row"
        },
        {
          "value": "md:grid-cols-8",
          "label": "Eight per row"
        },
        {
          "value": "md:grid-cols-9",
          "label": "Nine per row"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Tiles"
    },
    {
      "type": "select",
      "id": "tile_tagline_font_family",
      "label": "Tile Tagline Font Family",
      "default": "font-heading",
      "options": [
        {
          "value": "font-heading",
          "label": "Montserrat"
        },
        {
          "value": "font-body",
          "label": "Roboto"
        }
      ]
    },
    {
      "type": "select",
      "id": "tile_heading_font_family",
      "label": "Tile Heading Font Family",
      "default": "font-body",
      "options": [
        {
          "value": "font-heading",
          "label": "Montserrat"
        },
        {
          "value": "font-body",
          "label": "Roboto"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_font_size_mobile",
      "label": "Heading Font Size Mobile",
      "default": "text-lg",
      "options": [
        {
          "value": "text-xs",
          "label": "X Small"
        },
        {
          "value": "text-sm",
          "label": "Small"
        },
        {
          "value": "text-base",
          "label": "Medium"
        },
        {
          "value": "text-lg",
          "label": "Large"
        },
        {
          "value": "text-xl",
          "label": "X Large"
        },
        {
          "value": "text-2xl",
          "label": "2X Large"
        },
        {
          "value": "text-3xl",
          "label": "3X Large"
        },
        {
          "value": "text-4xl",
          "label": "4X Large"
        },
        {
          "value": "text-5xl",
          "label": "5X Large"
        },
        {
          "value": "text-6xl",
          "label": "6X Large"
        },
        {
          "value": "text-7xl",
          "label": "7X Large"
        },
        {
          "value": "text-8xl",
          "label": "8X Large"
        },
        {
          "value": "text-9xl",
          "label": "9X Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "tagline_font_size_mobile",
      "label": "Tagline Font Size Mobile",
      "default": "text-base",
      "options": [
        {
          "value": "text-xs",
          "label": "X Small"
        },
        {
          "value": "text-sm",
          "label": "Small"
        },
        {
          "value": "text-base",
          "label": "Medium"
        },
        {
          "value": "text-lg",
          "label": "Large"
        },
        {
          "value": "text-xl",
          "label": "X Large"
        },
        {
          "value": "text-2xl",
          "label": "2X Large"
        },
        {
          "value": "text-3xl",
          "label": "3X Large"
        },
        {
          "value": "text-4xl",
          "label": "4X Large"
        },
        {
          "value": "text-5xl",
          "label": "5X Large"
        },
        {
          "value": "text-6xl",
          "label": "6X Large"
        },
        {
          "value": "text-7xl",
          "label": "7X Large"
        },
        {
          "value": "text-8xl",
          "label": "8X Large"
        },
        {
          "value": "text-9xl",
          "label": "9X Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_font_size_desktop",
      "label": "Heading Font Size Desktop",
      "default": "sm:text-xl",
      "options": [
        {
          "value": "sm:text-xs",
          "label": "X Small"
        },
        {
          "value": "sm:text-sm",
          "label": "Small"
        },
        {
          "value": "sm:text-base",
          "label": "Medium"
        },
        {
          "value": "sm:text-lg",
          "label": "Large"
        },
        {
          "value": "sm:text-xl",
          "label": "X Large"
        },
        {
          "value": "sm:text-2xl",
          "label": "2X Large"
        },
        {
          "value": "sm:text-3xl",
          "label": "3X Large"
        },
        {
          "value": "sm:text-4xl",
          "label": "4X Large"
        },
        {
          "value": "sm:text-5xl",
          "label": "5X Large"
        },
        {
          "value": "sm:text-6xl",
          "label": "6X Large"
        },
        {
          "value": "sm:text-7xl",
          "label": "7X Large"
        },
        {
          "value": "sm:text-8xl",
          "label": "8X Large"
        },
        {
          "value": "sm:text-9xl",
          "label": "9X Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "tagline_font_size_desktop",
      "label": "Tagline Font Size Desktop",
      "default": "sm:text-lg",
      "options": [
        {
          "value": "sm:text-xs",
          "label": "X Small"
        },
        {
          "value": "sm:text-sm",
          "label": "Small"
        },
        {
          "value": "sm:text-base",
          "label": "Medium"
        },
        {
          "value": "sm:text-lg",
          "label": "Large"
        },
        {
          "value": "sm:text-xl",
          "label": "X Large"
        },
        {
          "value": "sm:text-2xl",
          "label": "2X Large"
        },
        {
          "value": "sm:text-3xl",
          "label": "3X Large"
        },
        {
          "value": "sm:text-4xl",
          "label": "4X Large"
        },
        {
          "value": "sm:text-5xl",
          "label": "5X Large"
        },
        {
          "value": "sm:text-6xl",
          "label": "6X Large"
        },
        {
          "value": "sm:text-7xl",
          "label": "7X Large"
        },
        {
          "value": "sm:text-8xl",
          "label": "8X Large"
        },
        {
          "value": "sm:text-9xl",
          "label": "9X Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_button_font_size",
      "label": "Mobile - Button Font Size",
      "default": "text-base",
      "options": [
        {
          "value": "text-xs",
          "label": "X Small"
        },
        {
          "value": "text-sm",
          "label": "Small"
        },
        {
          "value": "text-base",
          "label": "Medium"
        },
        {
          "value": "text-lg",
          "label": "Large"
        },
        {
          "value": "text-xl",
          "label": "X Large"
        },
        {
          "value": "text-2xl",
          "label": "2X Large"
        },
        {
          "value": "text-3xl",
          "label": "3X Large"
        },
        {
          "value": "text-4xl",
          "label": "4X Large"
        },
        {
          "value": "text-5xl",
          "label": "5X Large"
        },
        {
          "value": "text-6xl",
          "label": "6X Large"
        },
        {
          "value": "text-7xl",
          "label": "7X Large"
        },
        {
          "value": "text-8xl",
          "label": "8X Large"
        },
        {
          "value": "text-9xl",
          "label": "9X Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_button_font_size",
      "label": "Desktop - Button Font Size",
      "default": "md:text-base",
      "options": [
        {
          "value": "md:text-xs",
          "label": "X Small"
        },
        {
          "value": "md:text-sm",
          "label": "Small"
        },
        {
          "value": "md:text-base",
          "label": "Medium"
        },
        {
          "value": "md:text-lg",
          "label": "Large"
        },
        {
          "value": "md:text-xl",
          "label": "X Large"
        },
        {
          "value": "md:text-2xl",
          "label": "2X Large"
        },
        {
          "value": "md:text-3xl",
          "label": "3X Large"
        },
        {
          "value": "md:text-4xl",
          "label": "4X Large"
        },
        {
          "value": "md:text-5xl",
          "label": "5X Large"
        },
        {
          "value": "md:text-6xl",
          "label": "6X Large"
        },
        {
          "value": "md:text-7xl",
          "label": "7X Large"
        },
        {
          "value": "md:text-8xl",
          "label": "8X Large"
        },
        {
          "value": "md:text-9xl",
          "label": "9X Large"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "select",
      "id": "mobile_vertical_padding",
      "label": "Mobile - Vertical Padding",
      "default": "py-8",
      "options": [
        {
          "value": "py-0",
          "label": "None"
        },
        {
          "value": "py-px",
          "label": "Pixel"
        },
        {
          "value": "py-0.5",
          "label": "0.125rem"
        },
        {
          "value": "py-1",
          "label": "0.25rem"
        },
        {
          "value": "p-1.5",
          "label": "0.375rem"
        },
        {
          "value": "py-2",
          "label": "0.5rem"
        },
        {
          "value": "py-2.5",
          "label": "0.625rem"
        },
        {
          "value": "py-3",
          "label": "0.75rem"
        },
        {
          "value": "py-3.5",
          "label": "0.875rem"
        },
        {
          "value": "py-4",
          "label": "1rem"
        },
        {
          "value": "py-5",
          "label": "1.25rem"
        },
        {
          "value": "py-6",
          "label": "1.5rem"
        },
        {
          "value": "py-7",
          "label": "1.75rem"
        },
        {
          "value": "py-8",
          "label": "2rem"
        },
        {
          "value": "py-9",
          "label": "2.25rem"
        },
        {
          "value": "py-10",
          "label": "2.5rem"
        },
        {
          "value": "py-11",
          "label": "2.75rem"
        },
        {
          "value": "py-12",
          "label": "3rem"
        },
        {
          "value": "py-14",
          "label": "3.5rem"
        },
        {
          "value": "py-16",
          "label": "4rem"
        },
        {
          "value": "py-20",
          "label": "5rem"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_horizontal_padding",
      "label": "Mobile - Horizontal Padding",
      "default": "px-8",
      "options": [
        {
          "value": "px-0",
          "label": "None"
        },
        {
          "value": "px-px",
          "label": "Pixel"
        },
        {
          "value": "px-0.5",
          "label": "0.125rem"
        },
        {
          "value": "px-1",
          "label": "0.25rem"
        },
        {
          "value": "p-1.5",
          "label": "0.375rem"
        },
        {
          "value": "px-2",
          "label": "0.5rem"
        },
        {
          "value": "px-2.5",
          "label": "0.625rem"
        },
        {
          "value": "px-3",
          "label": "0.75rem"
        },
        {
          "value": "px-3.5",
          "label": "0.875rem"
        },
        {
          "value": "px-4",
          "label": "1rem"
        },
        {
          "value": "px-5",
          "label": "1.25rem"
        },
        {
          "value": "px-6",
          "label": "1.5rem"
        },
        {
          "value": "px-7",
          "label": "1.75rem"
        },
        {
          "value": "px-8",
          "label": "2rem"
        },
        {
          "value": "px-9",
          "label": "2.25rem"
        },
        {
          "value": "px-10",
          "label": "2.5rem"
        },
        {
          "value": "px-11",
          "label": "2.75rem"
        },
        {
          "value": "px-12",
          "label": "3rem"
        },
        {
          "value": "px-14",
          "label": "3.5rem"
        },
        {
          "value": "px-16",
          "label": "4rem"
        },
        {
          "value": "px-20",
          "label": "5rem"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_vertical_padding",
      "label": "Desktop - Vertical Padding",
      "default": "md:py-12",
      "options": [
        {
          "value": "md:py-0",
          "label": "None"
        },
        {
          "value": "md:py-px",
          "label": "Pixel"
        },
        {
          "value": "md:py-0.5",
          "label": "0.125rem"
        },
        {
          "value": "md:py-1",
          "label": "0.25rem"
        },
        {
          "value": "p-1.5",
          "label": "0.375rem"
        },
        {
          "value": "md:py-2",
          "label": "0.5rem"
        },
        {
          "value": "md:py-2.5",
          "label": "0.625rem"
        },
        {
          "value": "md:py-3",
          "label": "0.75rem"
        },
        {
          "value": "md:py-3.5",
          "label": "0.875rem"
        },
        {
          "value": "md:py-4",
          "label": "1rem"
        },
        {
          "value": "md:py-5",
          "label": "1.25rem"
        },
        {
          "value": "md:py-6",
          "label": "1.5rem"
        },
        {
          "value": "md:py-7",
          "label": "1.75rem"
        },
        {
          "value": "md:py-8",
          "label": "2rem"
        },
        {
          "value": "md:py-9",
          "label": "2.25rem"
        },
        {
          "value": "md:py-10",
          "label": "2.5rem"
        },
        {
          "value": "md:py-11",
          "label": "2.75rem"
        },
        {
          "value": "md:py-12",
          "label": "3rem"
        },
        {
          "value": "md:py-14",
          "label": "3.5rem"
        },
        {
          "value": "md:py-16",
          "label": "4rem"
        },
        {
          "value": "md:py-20",
          "label": "5rem"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_horizontal_padding",
      "label": "Desktop - Horizontal Padding",
      "default": "md:px-8",
      "options": [
        {
          "value": "md:px-0",
          "label": "None"
        },
        {
          "value": "md:px-px",
          "label": "Pixel"
        },
        {
          "value": "md:px-0.5",
          "label": "0.125rem"
        },
        {
          "value": "md:px-1",
          "label": "0.25rem"
        },
        {
          "value": "p-1.5",
          "label": "0.375rem"
        },
        {
          "value": "md:px-2",
          "label": "0.5rem"
        },
        {
          "value": "md:px-2.5",
          "label": "0.625rem"
        },
        {
          "value": "md:px-3",
          "label": "0.75rem"
        },
        {
          "value": "md:px-3.5",
          "label": "0.875rem"
        },
        {
          "value": "md:px-4",
          "label": "1rem"
        },
        {
          "value": "md:px-5",
          "label": "1.25rem"
        },
        {
          "value": "md:px-6",
          "label": "1.5rem"
        },
        {
          "value": "md:px-7",
          "label": "1.75rem"
        },
        {
          "value": "md:px-8",
          "label": "2rem"
        },
        {
          "value": "md:px-9",
          "label": "2.25rem"
        },
        {
          "value": "md:px-10",
          "label": "2.5rem"
        },
        {
          "value": "md:px-11",
          "label": "2.75rem"
        },
        {
          "value": "md:px-12",
          "label": "3rem"
        },
        {
          "value": "md:px-14",
          "label": "3.5rem"
        },
        {
          "value": "md:px-16",
          "label": "4rem"
        },
        {
          "value": "md:px-20",
          "label": "5rem"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Heading Tag",
      "default": "h2",
      "info": "This tag is used for SEO purposes only, it will not affect visual display. [Learn more](https://www.searchenginejournal.com/heading-tags-for-seo/341817)",
      "options": [
        {
          "label": "h1",
          "value": "h1"
        },
        {
          "label": "h2",
          "value": "h2"
        },
        {
          "label": "h3",
          "value": "h3"
        },
        {
          "label": "h4",
          "value": "h4"
        },
        {
          "label": "h5",
          "value": "h5"
        },
        {
          "label": "h6",
          "value": "h6"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "copy",
      "label": "Copy"
    },
    {
      "type": "header",
      "content": "Section Content Fonts"
    },
    {
      "type": "select",
      "id": "heading_font_family",
      "label": "Section Heading Font Family",
      "default": "font-heading",
      "options": [
        {
          "value": "font-heading",
          "label": "Montserrat"
        },
        {
          "value": "font-body",
          "label": "Roboto"
        }
      ]
    },
    {
      "type": "select",
      "id": "copy_font_family",
      "label": "Section Copy Font Family",
      "default": "font-body",
      "options": [
        {
          "value": "font-heading",
          "label": "Montserrat"
        },
        {
          "value": "font-body",
          "label": "Roboto"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Content Spacing"
    },
    {
      "type": "range",
      "id": "heading_bottom_spacing",
      "label": "Heading - Bottom Spacing",
      "min": 0,
      "max": 128,
      "step": 4,
      "default": 16,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "copy_bottom_spacing",
      "label": "Copy - Bottom Spacing",
      "min": 0,
      "max": 128,
      "step": 4,
      "default": 16,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Section Content Alignment"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "text-center",
      "options": [
        {
          "label": "Left",
          "value": "text-left"
        },
        {
          "label": "Center",
          "value": "text-center"
        },
        {
          "label": "Right",
          "value": "text-right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Content Sizes"
    },
    {
      "type": "select",
      "id": "desktop_heading_font_size",
      "label": "Desktop - Section Heading Font Size",
      "default": "md:text-xl",
      "options": [
        {
          "value": "md:text-xs",
          "label": "X Small"
        },
        {
          "value": "md:text-sm",
          "label": "Small"
        },
        {
          "value": "md:text-base",
          "label": "Medium"
        },
        {
          "value": "md:text-lg",
          "label": "Large"
        },
        {
          "value": "md:text-xl",
          "label": "X Large"
        },
        {
          "value": "md:text-2xl",
          "label": "2X Large"
        },
        {
          "value": "md:text-3xl",
          "label": "3X Large"
        },
        {
          "value": "md:text-4xl",
          "label": "4X Large"
        },
        {
          "value": "md:text-5xl",
          "label": "5X Large"
        },
        {
          "value": "md:text-6xl",
          "label": "6X Large"
        },
        {
          "value": "md:text-7xl",
          "label": "7X Large"
        },
        {
          "value": "md:text-8xl",
          "label": "8X Large"
        },
        {
          "value": "md:text-9xl",
          "label": "9X Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_copy_font_size",
      "label": "Desktop - Section Copy Font Size",
      "default": "md:text-base",
      "options": [
        {
          "value": "md:text-xs",
          "label": "X Small"
        },
        {
          "value": "md:text-sm",
          "label": "Small"
        },
        {
          "value": "md:text-base",
          "label": "Medium"
        },
        {
          "value": "md:text-lg",
          "label": "Large"
        },
        {
          "value": "md:text-xl",
          "label": "X Large"
        },
        {
          "value": "md:text-2xl",
          "label": "2X Large"
        },
        {
          "value": "md:text-3xl",
          "label": "3X Large"
        },
        {
          "value": "md:text-4xl",
          "label": "4X Large"
        },
        {
          "value": "md:text-5xl",
          "label": "5X Large"
        },
        {
          "value": "md:text-6xl",
          "label": "6X Large"
        },
        {
          "value": "md:text-7xl",
          "label": "7X Large"
        },
        {
          "value": "md:text-8xl",
          "label": "8X Large"
        },
        {
          "value": "md:text-9xl",
          "label": "9X Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_heading_font_size",
      "label": "Mobile - Section Heading Font Size",
      "default": "text-xl",
      "options": [
        {
          "value": "text-xs",
          "label": "X Small"
        },
        {
          "value": "text-sm",
          "label": "Small"
        },
        {
          "value": "text-base",
          "label": "Medium"
        },
        {
          "value": "text-lg",
          "label": "Large"
        },
        {
          "value": "text-xl",
          "label": "X Large"
        },
        {
          "value": "text-2xl",
          "label": "2X Large"
        },
        {
          "value": "text-3xl",
          "label": "3X Large"
        },
        {
          "value": "text-4xl",
          "label": "4X Large"
        },
        {
          "value": "text-5xl",
          "label": "5X Large"
        },
        {
          "value": "text-6xl",
          "label": "6X Large"
        },
        {
          "value": "text-7xl",
          "label": "7X Large"
        },
        {
          "value": "text-8xl",
          "label": "8X Large"
        },
        {
          "value": "text-9xl",
          "label": "9X Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_copy_font_size",
      "label": "Mobile - Section Copy Font Size",
      "default": "text-base",
      "options": [
        {
          "value": "text-xs",
          "label": "X Small"
        },
        {
          "value": "text-sm",
          "label": "Small"
        },
        {
          "value": "text-base",
          "label": "Medium"
        },
        {
          "value": "text-lg",
          "label": "Large"
        },
        {
          "value": "text-xl",
          "label": "X Large"
        },
        {
          "value": "text-2xl",
          "label": "2X Large"
        },
        {
          "value": "text-3xl",
          "label": "3X Large"
        },
        {
          "value": "text-4xl",
          "label": "4X Large"
        },
        {
          "value": "text-5xl",
          "label": "5X Large"
        },
        {
          "value": "text-6xl",
          "label": "6X Large"
        },
        {
          "value": "text-7xl",
          "label": "7X Large"
        },
        {
          "value": "text-8xl",
          "label": "8X Large"
        },
        {
          "value": "text-9xl",
          "label": "9X Large"
        }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Collection Tile",
      "type": "collection-tile",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "If you do not set an image, we'll fall back to the featured image for the collection."
        },
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading",
          "default": "<p>Your Collection</p>",
          "info": "If you do not set a heading, we'll fall back to the collection's title."
        },
        {
          "type": "richtext",
          "id": "tagline",
          "label": "Tagline",
          "default": "<p>Pre-heading language</p>"
        },
        {
          "type": "text",
          "id": "cta_label",
          "label": "Button Label",
          "default": "Shop the collection"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL",
          "info": "If you do not set a URL, we'll fall back to the collection's URL."
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Button Background Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button Text Color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_bg_color_hover",
          "label": "Button Background Color - Hover",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_text_color_hover",
          "label": "Button Text Color - Hover",
          "default": "#ffffff"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text Alignment",
          "default": "text-left",
          "options": [
            {
              "label": "Left",
              "value": "text-left"
            },
            {
              "label": "Center",
              "value": "text-center"
            },
            {
              "label": "Right",
              "value": "text-right"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collections",
      "blocks": [
        {
          "type": "collection-tile"
        },
        {
          "type": "collection-tile"
        },
        {
          "type": "collection-tile"
        },
        {
          "type": "collection-tile"
        },
        {
          "type": "collection-tile"
        },
        {
          "type": "collection-tile"
        }
      ]
    }
  ]
}
{% endschema %}
