<div class="{% unless section.settings.full_width %}container{% endunless %} featured-carousel-container relative {{ section.settings.mobile_vertical_padding }} {{ section.settings.desktop_vertical_padding }} {{section.settings.section_class}}">
    <div class="container {{ section.settings.mobile_horizontal_padding }} {{ section.settings.desktop_horizontal_padding }}">
        <div class="flex flex-col">
          {% render 'section-copy' %}
        </div>
    </div>
    <featured-carousel class="relative block">
        <scroll-animation
            data-intersection-ratio="0.25"
            data-start-classes="opacity-0"
            data-end-classes="opacity-1"
        >
            <div class="opacity-0 transition-base" data-swiper>
                <div class="swiper-wrapper flex items-center">
                    <!-- Slides -->
                    {% capture slideClasses %}block group transition-all duration-500 ease-custom-bezier {% endcapture %}
                    {% for block in section.blocks %}
                        <div class="swiper-slide overflow-hidden relative">
                            {% if block.settings.url != blank %}<a class="{{ slideClasses }}" href="{{ block.settings.url }}">{% else %}<span class="{{ slideClasses }}">{% endif %}
                              {% if block.settings.image != blank %}
                                  <img src="  {{ block.settings.image | image_url: height:375  }}"  class='h-full object-cover w-full transition duration-300 delay-100 ease-custom-bezier group-hover:brightness-[.6] group-hover:scale-105'/>
                              {% endif %}
                              <div class="absolute top-0 left-0 w-full h-full grid content-center text-white text-center {{ section.settings.tile_font_family }} {{ section.settings.tile_font_size }}">
                                {{ block.settings.heading }}
                              </div>
                            {% if block.settings.url != blank %}</a>{% else %}</span>{% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </scroll-animation>
        <button class="bg-white h-12 w-12 flex items-center justify-center disabled:opacity-0 absolute top-1/2 transition-base transform -translate-y-1/2 left-0 z-10 rounded-tr-full rounded-br-full" data-swiper-button-prev>
          <span class="block w-2 transform rotate-90">{% render 'icons' icon: 'chevron' %}</span>
        </button>
        <button class="bg-white h-12 w-12 flex items-center justify-center disabled:opacity-0 absolute top-1/2 transition-base transform -translate-y-1/2 right-0 z-10 rounded-tl-full rounded-bl-full" data-swiper-button-next>
            <span class="block w-2 transform -rotate-90">{% render 'icons' icon: 'chevron' %}</span>
        </button>
    </featured-carousel>
</div>

{% javascript %}
    class FeaturedCarousel extends HTMLElement {
      constructor() {
        super();
      }

      connectedCallback() {
        if (document.readyState === 'complete') {
          this.init();
        } else {
          window.addEventListener('load', () => this.init());
        }
      };

      init() {
        this.swiper = new Swiper(this.querySelector('[data-swiper]'), {
          // Optional parameters
          direction: 'horizontal',
          loop: false,
          slidesPerView: 1,
          spaceBetween: 24,
          navigation: {
            nextEl: '[data-swiper-button-next]',
            prevEl: '[data-swiper-button-prev]',
          },
          speed: 2000,
          breakpoints: {
            768: {
              slidesPerGroup: 1,
              slidesPerView: 1,
            },
            992: {
              slidesPerGroup: 2,
              slidesPerView: 2,
            },
            2000: {
              slidesPerGroup: 3,
              slidesPerView: 3,
            },
            2400: {
              slidesPerGroup: 3,
              slidesPerView: 3,
            },
          }
        });
      }
    }

    customElements.define('featured-carousel', FeaturedCarousel);
{% endjavascript %}

{% schema %}
{
  "name": "Featured Carousel",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "text",
      "id": "section_class",
      "label": "Section Class"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Fullwidth",
      "default": false
    },
    {
      "type": "select",
      "id": "mobile_vertical_padding",
      "label": "Mobile - Vertical Padding",
      "default": "py-8",
      "options": [
        {
          "value": "py-0",
          "label": "None"
        },
        {
          "value": "py-px",
          "label": "Pixel"
        },
        {
          "value": "py-0.5",
          "label": "0.125rem"
        },
        {
          "value": "py-1",
          "label": "0.25rem"
        },
        {
          "value": "p-1.5",
          "label": "0.375rem"
        },
        {
          "value": "py-2",
          "label": "0.5rem"
        },
        {
          "value": "py-2.5",
          "label": "0.625rem"
        },
        {
          "value": "py-3",
          "label": "0.75rem"
        },
        {
          "value": "py-3.5",
          "label": "0.875rem"
        },
        {
          "value": "py-4",
          "label": "1rem"
        },
        {
          "value": "py-5",
          "label": "1.25rem"
        },
        {
          "value": "py-6",
          "label": "1.5rem"
        },
        {
          "value": "py-7",
          "label": "1.75rem"
        },
        {
          "value": "py-8",
          "label": "2rem"
        },
        {
          "value": "py-9",
          "label": "2.25rem"
        },
        {
          "value": "py-10",
          "label": "2.5rem"
        },
        {
          "value": "py-11",
          "label": "2.75rem"
        },
        {
          "value": "py-12",
          "label": "3rem"
        },
        {
          "value": "py-14",
          "label": "3.5rem"
        },
        {
          "value": "py-16",
          "label": "4rem"
        },
        {
          "value": "py-20",
          "label": "5rem"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_horizontal_padding",
      "label": "Mobile - Horizontal Padding",
      "default": "px-8",
      "options": [
        {
          "value": "px-0",
          "label": "None"
        },
        {
          "value": "px-px",
          "label": "Pixel"
        },
        {
          "value": "px-0.5",
          "label": "0.125rem"
        },
        {
          "value": "px-1",
          "label": "0.25rem"
        },
        {
          "value": "p-1.5",
          "label": "0.375rem"
        },
        {
          "value": "px-2",
          "label": "0.5rem"
        },
        {
          "value": "px-2.5",
          "label": "0.625rem"
        },
        {
          "value": "px-3",
          "label": "0.75rem"
        },
        {
          "value": "px-3.5",
          "label": "0.875rem"
        },
        {
          "value": "px-4",
          "label": "1rem"
        },
        {
          "value": "px-5",
          "label": "1.25rem"
        },
        {
          "value": "px-6",
          "label": "1.5rem"
        },
        {
          "value": "px-7",
          "label": "1.75rem"
        },
        {
          "value": "px-8",
          "label": "2rem"
        },
        {
          "value": "px-9",
          "label": "2.25rem"
        },
        {
          "value": "px-10",
          "label": "2.5rem"
        },
        {
          "value": "px-11",
          "label": "2.75rem"
        },
        {
          "value": "px-12",
          "label": "3rem"
        },
        {
          "value": "px-14",
          "label": "3.5rem"
        },
        {
          "value": "px-16",
          "label": "4rem"
        },
        {
          "value": "px-20",
          "label": "5rem"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_vertical_padding",
      "label": "Desktop - Vertical Padding",
      "default": "md:py-12",
      "options": [
        {
          "value": "md:py-0",
          "label": "None"
        },
        {
          "value": "md:py-px",
          "label": "Pixel"
        },
        {
          "value": "md:py-0.5",
          "label": "0.125rem"
        },
        {
          "value": "md:py-1",
          "label": "0.25rem"
        },
        {
          "value": "p-1.5",
          "label": "0.375rem"
        },
        {
          "value": "md:py-2",
          "label": "0.5rem"
        },
        {
          "value": "md:py-2.5",
          "label": "0.625rem"
        },
        {
          "value": "md:py-3",
          "label": "0.75rem"
        },
        {
          "value": "md:py-3.5",
          "label": "0.875rem"
        },
        {
          "value": "md:py-4",
          "label": "1rem"
        },
        {
          "value": "md:py-5",
          "label": "1.25rem"
        },
        {
          "value": "md:py-6",
          "label": "1.5rem"
        },
        {
          "value": "md:py-7",
          "label": "1.75rem"
        },
        {
          "value": "md:py-8",
          "label": "2rem"
        },
        {
          "value": "md:py-9",
          "label": "2.25rem"
        },
        {
          "value": "md:py-10",
          "label": "2.5rem"
        },
        {
          "value": "md:py-11",
          "label": "2.75rem"
        },
        {
          "value": "md:py-12",
          "label": "3rem"
        },
        {
          "value": "md:py-14",
          "label": "3.5rem"
        },
        {
          "value": "md:py-16",
          "label": "4rem"
        },
        {
          "value": "md:py-20",
          "label": "5rem"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_horizontal_padding",
      "label": "Desktop - Horizontal Padding",
      "default": "md:px-8",
      "options": [
        {
          "value": "md:px-0",
          "label": "None"
        },
        {
          "value": "md:px-px",
          "label": "Pixel"
        },
        {
          "value": "md:px-0.5",
          "label": "0.125rem"
        },
        {
          "value": "md:px-1",
          "label": "0.25rem"
        },
        {
          "value": "p-1.5",
          "label": "0.375rem"
        },
        {
          "value": "md:px-2",
          "label": "0.5rem"
        },
        {
          "value": "md:px-2.5",
          "label": "0.625rem"
        },
        {
          "value": "md:px-3",
          "label": "0.75rem"
        },
        {
          "value": "md:px-3.5",
          "label": "0.875rem"
        },
        {
          "value": "md:px-4",
          "label": "1rem"
        },
        {
          "value": "md:px-5",
          "label": "1.25rem"
        },
        {
          "value": "md:px-6",
          "label": "1.5rem"
        },
        {
          "value": "md:px-7",
          "label": "1.75rem"
        },
        {
          "value": "md:px-8",
          "label": "2rem"
        },
        {
          "value": "md:px-9",
          "label": "2.25rem"
        },
        {
          "value": "md:px-10",
          "label": "2.5rem"
        },
        {
          "value": "md:px-11",
          "label": "2.75rem"
        },
        {
          "value": "md:px-12",
          "label": "3rem"
        },
        {
          "value": "md:px-14",
          "label": "3.5rem"
        },
        {
          "value": "md:px-16",
          "label": "4rem"
        },
        {
          "value": "md:px-20",
          "label": "5rem"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Tiles"
    },
    {
      "type": "select",
      "id": "tile_font_family",
      "label": "Tile Font Family",
      "default": "font-heading",
      "options": [
        {
          "value": "font-heading",
          "label": "Montserrat"
        },
        {
          "value": "font-body",
          "label": "Roboto"
        }
      ]
    },
    {
      "type": "select",
      "id": "tile_font_size",
      "label": "Tile Font Size",
      "default": "text-xl",
      "options": [
        {
          "value": "text-xs",
          "label": "X Small"
        },
        {
          "value": "text-sm",
          "label": "Small"
        },
        {
          "value": "text-base",
          "label": "Medium"
        },
        {
          "value": "text-lg",
          "label": "Large"
        },
        {
          "value": "text-xl",
          "label": "X Large"
        },
        {
          "value": "text-2xl",
          "label": "2X Large"
        },
        {
          "value": "text-3xl",
          "label": "3X Large"
        },
        {
          "value": "text-4xl",
          "label": "4X Large"
        },
        {
          "value": "text-5xl",
          "label": "5X Large"
        },
        {
          "value": "text-6xl",
          "label": "6X Large"
        },
        {
          "value": "text-7xl",
          "label": "7X Large"
        },
        {
          "value": "text-8xl",
          "label": "8X Large"
        },
        {
          "value": "text-9xl",
          "label": "9X Large"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Heading Tag",
      "default": "h2",
      "info": "This tag is used for SEO purposes only, it will not affect visual display. [Learn more](https://www.searchenginejournal.com/heading-tags-for-seo/341817)",
      "options": [
        {
          "label": "h1",
          "value": "h1"
        },
        {
          "label": "h2",
          "value": "h2"
        },
        {
          "label": "h3",
          "value": "h3"
        },
        {
          "label": "h4",
          "value": "h4"
        },
        {
          "label": "h5",
          "value": "h5"
        },
        {
          "label": "h6",
          "value": "h6"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "copy",
      "label": "Copy"
    },
    {
      "type": "header",
      "content": "Section Content Fonts"
    },
    {
      "type": "select",
      "id": "heading_font_family",
      "label": "Section Heading Font Family",
      "default": "font-heading",
      "options": [
        {
          "value": "font-heading",
          "label": "Montserrat"
        },
        {
          "value": "font-body",
          "label": "Roboto"
        }
      ]
    },
    {
      "type": "select",
      "id": "copy_font_family",
      "label": "Section Copy Font Family",
      "default": "font-body",
      "options": [
        {
          "value": "font-heading",
          "label": "Montserrat"
        },
        {
          "value": "font-body",
          "label": "Roboto"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Content Spacing"
    },
    {
      "type": "range",
      "id": "heading_bottom_spacing",
      "label": "Heading - Bottom Spacing",
      "min": 0,
      "max": 128,
      "step": 4,
      "default": 16,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "copy_bottom_spacing",
      "label": "Copy - Bottom Spacing",
      "min": 0,
      "max": 128,
      "step": 4,
      "default": 16,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Section Content Alignment"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "text-center",
      "options": [
        {
          "label": "Left",
          "value": "text-left"
        },
        {
          "label": "Center",
          "value": "text-center"
        },
        {
          "label": "Right",
          "value": "text-right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Content Sizes"
    },
    {
      "type": "select",
      "id": "desktop_heading_font_size",
      "label": "Desktop - Section Heading Font Size",
      "default": "md:text-xl",
      "options": [
        {
          "value": "md:text-xs",
          "label": "X Small"
        },
        {
          "value": "md:text-sm",
          "label": "Small"
        },
        {
          "value": "md:text-base",
          "label": "Medium"
        },
        {
          "value": "md:text-lg",
          "label": "Large"
        },
        {
          "value": "md:text-xl",
          "label": "X Large"
        },
        {
          "value": "md:text-2xl",
          "label": "2X Large"
        },
        {
          "value": "md:text-3xl",
          "label": "3X Large"
        },
        {
          "value": "md:text-4xl",
          "label": "4X Large"
        },
        {
          "value": "md:text-5xl",
          "label": "5X Large"
        },
        {
          "value": "md:text-6xl",
          "label": "6X Large"
        },
        {
          "value": "md:text-7xl",
          "label": "7X Large"
        },
        {
          "value": "md:text-8xl",
          "label": "8X Large"
        },
        {
          "value": "md:text-9xl",
          "label": "9X Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_copy_font_size",
      "label": "Desktop - Section Copy Font Size",
      "default": "md:text-base",
      "options": [
        {
          "value": "md:text-xs",
          "label": "X Small"
        },
        {
          "value": "md:text-sm",
          "label": "Small"
        },
        {
          "value": "md:text-base",
          "label": "Medium"
        },
        {
          "value": "md:text-lg",
          "label": "Large"
        },
        {
          "value": "md:text-xl",
          "label": "X Large"
        },
        {
          "value": "md:text-2xl",
          "label": "2X Large"
        },
        {
          "value": "md:text-3xl",
          "label": "3X Large"
        },
        {
          "value": "md:text-4xl",
          "label": "4X Large"
        },
        {
          "value": "md:text-5xl",
          "label": "5X Large"
        },
        {
          "value": "md:text-6xl",
          "label": "6X Large"
        },
        {
          "value": "md:text-7xl",
          "label": "7X Large"
        },
        {
          "value": "md:text-8xl",
          "label": "8X Large"
        },
        {
          "value": "md:text-9xl",
          "label": "9X Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_heading_font_size",
      "label": "Mobile - Section Heading Font Size",
      "default": "text-xl",
      "options": [
        {
          "value": "text-xs",
          "label": "X Small"
        },
        {
          "value": "text-sm",
          "label": "Small"
        },
        {
          "value": "text-base",
          "label": "Medium"
        },
        {
          "value": "text-lg",
          "label": "Large"
        },
        {
          "value": "text-xl",
          "label": "X Large"
        },
        {
          "value": "text-2xl",
          "label": "2X Large"
        },
        {
          "value": "text-3xl",
          "label": "3X Large"
        },
        {
          "value": "text-4xl",
          "label": "4X Large"
        },
        {
          "value": "text-5xl",
          "label": "5X Large"
        },
        {
          "value": "text-6xl",
          "label": "6X Large"
        },
        {
          "value": "text-7xl",
          "label": "7X Large"
        },
        {
          "value": "text-8xl",
          "label": "8X Large"
        },
        {
          "value": "text-9xl",
          "label": "9X Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_copy_font_size",
      "label": "Mobile - Section Copy Font Size",
      "default": "text-base",
      "options": [
        {
          "value": "text-xs",
          "label": "X Small"
        },
        {
          "value": "text-sm",
          "label": "Small"
        },
        {
          "value": "text-base",
          "label": "Medium"
        },
        {
          "value": "text-lg",
          "label": "Large"
        },
        {
          "value": "text-xl",
          "label": "X Large"
        },
        {
          "value": "text-2xl",
          "label": "2X Large"
        },
        {
          "value": "text-3xl",
          "label": "3X Large"
        },
        {
          "value": "text-4xl",
          "label": "4X Large"
        },
        {
          "value": "text-5xl",
          "label": "5X Large"
        },
        {
          "value": "text-6xl",
          "label": "6X Large"
        },
        {
          "value": "text-7xl",
          "label": "7X Large"
        },
        {
          "value": "text-8xl",
          "label": "8X Large"
        },
        {
          "value": "text-9xl",
          "label": "9X Large"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "label": "Image",
          "id": "image",
          "type": "image_picker"
        },
        {
          "type": "richtext",
          "label": "Heading",
          "id": "heading",
          "default": "<p>Heading</p>"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature Carousel",
      "blocks": [
        {
          "type": "feature"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        }
      ]
    }
  ]
}
{% endschema %}
